h1{
    background-image: url();
}
p{
    background-color: skyblue;
}
div{
    border: 1px solid black;
    width: 600px;
    height: 400px;
    background-image: url("/image/winter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
