*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'NanumGaRamYeonGgoc', sans-serif;
}
#postit {
    width:350px;
    height:350px;
    padding:18px;
    
    transform:rotate(10deg);
    text-align:center;
    font-family:"Nanum Pen Script", cursive;
    position:relative;
    margin:100px;
  }
div{
    background-image: url("/image/postit.jpg");
    background-repeat: no-repeat;
    background-size: contain;

p{
    text-align: center;
}